In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Airbnb_Open_Data.csv', low_memory=False)

In [3]:
df.head()

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

In [4]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   NAME                            102349 non-null  str
 2   host id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  str
 4   host name                       102193 non-null  str
 5   neighbourhood group             102570 non-null  str
 6   neighbourhood                   102583 non-null  str
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  str
 10  country code                    102468 non-null  str
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  str
 13  room type                       102599 non-null  str
 14  Construction year               102385 non-null  float64
 15  price                           102352 non-null  str
 16  service fee                     102326 non-null  str
 17  minimum nights                  102190 non-null  float64
 18  number of reviews               102416 non-null  float64
 19  last review                     86706 non-null   str
 20  reviews per month               86720 non-null   float64
 21  review rate number              102273 non-null  float64
 22  calculated host listings count  102280 non-null  float64
 23  availability 365                102151 non-null  float64
 24  house_rules                     50468 non-null   str
 25  license                         2 non-null       str
dtypes: float64(9), int64(2), object(1), str(14)
memory usage: 20.4+ MB

In [5]:
df.columns

Index(['id', 'NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules', 'license'],
      dtype='str')

# Operation That Going to be perform
1.Deleting redundant columns.
2.Renaming the columns.
3.Dropping Duplicates.
4.Remove the NaN values from the dataset.
5.Cleaning individual columns.
6.Check for some more Transformations.

# 1.Deleting redundant columns.

In [6]:
f"Total columns before deleting : {len(df.columns)}"

'Total columns before deleting : 26'

In [7]:
columns_to_drop = ['number of reviews', 'last review', 'reviews per month',
                   'review rate number', 'calculated host listings count',
                   'availability 365', 'license']

In [8]:
df.drop(columns = columns_to_drop, inplace=True)

In [9]:
f"Total columns after deleted : {len(df.columns)}"

'Total columns after deleted : 19'

# 2.Renaming the columns.

In [10]:
print(f"Columns name before rename :  {df.columns}")

Columns name before rename :  Index(['id', 'NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'house_rules'],
      dtype='str')

In [11]:
new_columns = []
for i in df.columns:
    new_columns.append(i.replace('_',' ').lower())

In [12]:
new_df = df.copy()

In [13]:
new_df.columns = new_columns
print(f"Columns name before rename :  {new_df.columns}")

Columns name before rename :  Index(['id', 'name', 'host id', 'host identity verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant bookable', 'cancellation policy', 'room type',
       'construction year', 'price', 'service fee', 'minimum nights',
       'house rules'],
      dtype='str')

# 3.Dropping Duplicates.

In [14]:
print(f"Total Duplicate values before drop duplicate values : {new_df.duplicated().sum()}")

Total Duplicate values before drop duplicate values : 541

In [15]:
new_df.drop_duplicates(inplace=True)

In [16]:
print(f"Total Duplicate values after drop duplicate values : {new_df.duplicated().sum()}")

Total Duplicate values after drop duplicate values : 0

# 4.Remove the NaN values from the dataset.

In [17]:
print("Before Drop Null Rows")
new_df.isna().sum()

Before Drop Null Rows

id                            0
name                        250
host id                       0
host identity verified      289
host name                   404
neighbourhood group          29
neighbourhood                16
lat                           8
long                          8
country                     532
country code                131
instant bookable            105
cancellation policy          76
room type                     0
construction year           214
price                       247
service fee                 273
minimum nights              400
house rules               51842
dtype: int64

In [18]:
new_df.drop(columns=['house rules'], inplace=True)

In [19]:
new_df.dropna(inplace=True)

In [20]:
print("After Drop Null Rows")
new_df.isna().sum()

After Drop Null Rows

id                        0
name                      0
host id                   0
host identity verified    0
host name                 0
neighbourhood group       0
neighbourhood             0
lat                       0
long                      0
country                   0
country code              0
instant bookable          0
cancellation policy       0
room type                 0
construction year         0
price                     0
service fee               0
minimum nights            0
dtype: int64

# 5.Cleaning individual columns.

In [21]:
print('Before clean column')
new_df['price']

Before clean column

0           $966
1           $142
4           $204
5           $577
7         $1,060
           ...
102029      $822
102030      $455
102031    $1,078
102032      $103
102040      $982
Name: price, Length: 99522, dtype: str

In [22]:
new_df['price'] = new_df['price'].str.replace('$','').str.replace(',','').astype('float32')
new_df['price']

0          966.0
1          142.0
4          204.0
5          577.0
7         1060.0
           ...
102029     822.0
102030     455.0
102031    1078.0
102032     103.0
102040     982.0
Name: price, Length: 99522, dtype: float32

In [23]:
print('Before clean column')
new_df['service fee']

Before clean column

0         $193
1          $28
4          $41
5         $115
7         $212
          ...
102029    $164
102030     $91
102031    $216
102032     $21
102040    $196
Name: service fee, Length: 99522, dtype: str

In [24]:
new_df['service fee'] = new_df['service fee'].str.replace('$','').str.replace(',','').astype('float32')
new_df['service fee']

0         193.0
1          28.0
4          41.0
5         115.0
7         212.0
          ...
102029    164.0
102030     91.0
102031    216.0
102032     21.0
102040    196.0
Name: service fee, Length: 99522, dtype: float32

In [25]:
new_df[['price', 'service fee']].describe()

              price   service fee
count  99522.000000  99522.000000
mean     625.428589    125.086334
std      331.729370     66.349205
min       50.000000     10.000000
25%      340.000000     68.000000
50%      624.000000    125.000000
75%      913.000000    183.000000
max     1200.000000    240.000000

In [26]:
new_df['cancellation policy'] = new_df['cancellation policy'].str.upper()

In [27]:
new_df['room type'] = new_df['room type'].str.capitalize()

In [28]:
new_df['neighbourhood group'] = new_df['neighbourhood group'].str.capitalize()

In [29]:
new_df['neighbourhood'] = new_df['neighbourhood'].str.capitalize()

In [30]:
new_df['host name'] = new_df['host name'].str.capitalize()

In [31]:
new_df['host identity verified'] = new_df['host identity verified'].str.upper()

In [32]:
new_df['name'] = new_df['name'].str.capitalize()

In [33]:
print('Before')
new_df['instant bookable']

Before

0         False
1         False
4         False
5          True
7         False
          ...
102029    False
102030     True
102031     True
102032    False
102040     True
Name: instant bookable, Length: 99522, dtype: object

In [34]:
new_df['instant bookable'] = new_df['instant bookable'].apply(lambda x : 1 if x == True else 0)

In [35]:
print('After')
new_df['instant bookable']

After

0         0
1         0
4         0
5         1
7         0
         ..
102029    0
102030    1
102031    1
102032    0
102040    1
Name: instant bookable, Length: 99522, dtype: int64

In [36]:
new_df.reset_index(inplace=True)

In [37]:
new_df.columns

Index(['index', 'id', 'name', 'host id', 'host identity verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant bookable', 'cancellation policy', 'room type',
       'construction year', 'price', 'service fee', 'minimum nights'],
      dtype='str')

In [38]:
new_df.drop(columns=['index'], inplace=True)

In [39]:
new_df.columns

Index(['id', 'name', 'host id', 'host identity verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant bookable', 'cancellation policy', 'room type',
       'construction year', 'price', 'service fee', 'minimum nights'],
      dtype='str')

# optimize space

In [40]:
new_df.info()

<class 'pandas.DataFrame'>
RangeIndex: 99522 entries, 0 to 99521
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      99522 non-null  int64
 1   name                    99522 non-null  str
 2   host id                 99522 non-null  int64
 3   host identity verified  99522 non-null  str
 4   host name               99522 non-null  str
 5   neighbourhood group     99522 non-null  str
 6   neighbourhood           99522 non-null  str
 7   lat                     99522 non-null  float64
 8   long                    99522 non-null  float64
 9   country                 99522 non-null  str
 10  country code            99522 non-null  str
 11  instant bookable        99522 non-null  int64
 12  cancellation policy     99522 non-null  str
 13  room type               99522 non-null  str
 14  construction year       99522 non-null  float64
 15  price                   99522 non-null  float32
 16  service fee             99522 non-null  float32
 17  minimum nights          99522 non-null  float64
dtypes: float32(2), float64(4), int64(3), str(9)
memory usage: 12.9 MB

In [41]:
new_df['id'] = new_df['id'].astype('int32')

In [42]:
new_df['host id'] = new_df['host id'].astype('int32')

In [43]:
new_df['lat'] = new_df['lat'].astype('float32')

In [44]:
new_df['long'] = new_df['long'].astype('int32')

In [45]:
new_df['instant bookable'] = new_df['instant bookable'].astype('float32')

In [46]:
new_df['construction year'] = new_df['construction year'].astype('float32')

In [47]:
new_df['minimum nights'] = new_df['minimum nights'].astype('float32')

In [48]:
new_df.info()

<class 'pandas.DataFrame'>
RangeIndex: 99522 entries, 0 to 99521
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      99522 non-null  int32
 1   name                    99522 non-null  str
 2   host id                 99522 non-null  int32
 3   host identity verified  99522 non-null  str
 4   host name               99522 non-null  str
 5   neighbourhood group     99522 non-null  str
 6   neighbourhood           99522 non-null  str
 7   lat                     99522 non-null  float32
 8   long                    99522 non-null  int32
 9   country                 99522 non-null  str
 10  country code            99522 non-null  str
 11  instant bookable        99522 non-null  float32
 12  cancellation policy     99522 non-null  str
 13  room type               99522 non-null  str
 14  construction year       99522 non-null  float32
 15  price                   99522 non-null  float32
 16  service fee             99522 non-null  float32
 17  minimum nights          99522 non-null  float32
dtypes: float32(6), int32(3), str(9)
memory usage: 10.3 MB

In [49]:
new_df.to_csv('Clean_Airbnb_Open_Data.csv')